.flutter-plugins-dependencies
pubspec.lock
.dart_tool/
.idea/
linux/
.metadata
.macos/
analysis_options.yaml
doc_generator.iml
build/
android/
devtools_options.yaml
dev_backend/
templates_yaml/
word_templates/
.vscode/
.claude/